<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>{{{ PRODUCT_NAME }}}</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="https://ik.imagekit.io/bmp6bnlpn/uroc/uroc-logo-primary.svg">
    #if SHOW_DIAGNOSTICS
    <link rel="stylesheet" href="<<<TemplateData/diagnostics.css>>>">
    <script src="<<<TemplateData/diagnostics.js>>>"></script>
    #endif
    <script src="https://cdn.jsdelivr.net/npm/lil-gui@0.20.0/dist/lil-gui.umd.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/lil-gui@0.20.0/dist/lil-gui.min.css" rel="stylesheet">
    <script src="https://ik.imagekit.io/bmp6bnlpn/scripts/unity-game-shell/shell.min.js?updatedAt=1757322254703"></script>
    <link rel="stylesheet" href="https://ik.imagekit.io/bmp6bnlpn/scripts/unity-game-shell/shell.min.css?updatedAt=1757322254703">
    <script type="module" src="https://ik.imagekit.io/bmp6bnlpn/scripts/unity-game-shell/force-tool.js?updatedAt=1757322254703" defer=""></script>
  </head>
  <body>
    <div class="unity-desktop" id="unity-container">
      <canvas id="unity-canvas" width="{{{ WIDTH }}}" height="{{{ HEIGHT }}}" tabindex="-1"></canvas>
      <div id="splash">
        <div class="inner">
          <video ontimeupdate="GameShell.on_splash_video_progress(this)" onended="GameShell.on_splash_video_end()" src="https://ik.imagekit.io/bmp6bnlpn/uroc/splash.mp4" playsinline webkit-playsinline autoplay muted style="position:absolute;border-radius:50%;width:100%;height:100%;z-index:-1"></video>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500" preserveAspectRatio="xMidYMid meet" style="position:relative;right:-2px;top:-5px">
            <circle stroke-width="6" cx="250" cy="250" r="245.5" stroke-dasharray="1542.5219929125885" stroke-dashoffset="1542.5219929125885" fill="transparent" stroke="url(#gradient)" style="transform: rotate(-90deg);transform-origin:center"></circle>
            <text x="250" y="460" font-family="Arial, sans-serif" font-size="20" fill="white" text-anchor="middle" alignment-baseline="middle"></text>
            <defs>
              <lineargradient id="gradient" x1="0" x2="1" y1="0" y2="0">
                <stop offset="0%" stop-color="#18c8fd"></stop>
                <stop offset="100%" stop-color="#3a40e7"></stop>
              </lineargradient>
            </defs>
          </svg>
        </div>
      </div>
      #if SHOW_DIAGNOSTICS
      <img id="diagnostics-icon" src="https://ik.imagekit.io/bmp6bnlpn/scripts/unity-game-shell/webmemd-icon.png?updatedAt=1755611404565">
      #endif
    </div>
    <aside id="quick-actions">
      <label class="toggle" id="toggle_menu" onclick="javascript:void(0)">
        <input type="checkbox">
        <svg class="off" xmlns="http://www.w3.org/2000/svg" viewbox="32 56 192 144">
          <line x1="40" y1="128" x2="216" y2="128" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
          <line x1="40" y1="64" x2="216" y2="64" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
          <line x1="40" y1="192" x2="216" y2="192" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
        </svg>
        <svg class="on" xmlns="http://www.w3.org/2000/svg" viewbox="48 48 160 160">
          <rect width="256" height="256" fill="none"></rect>
          <line x1="200" y1="56" x2="56" y2="200" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
          <line x1="200" y1="200" x2="56" y2="56" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
        </svg>
      </label>
      <button class="action" onclick="GameShell.show_dialog_by_id(&quot;game_rules&quot;)">
        <svg class="symbol" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="24 24 208 208">
          <circle cx="128" cy="128" r="96" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></circle>
          <path d="M120,120a8,8,0,0,1,8,8v40a8,8,0,0,0,8,8" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
          <circle cx="124" cy="84" r="12"></circle>
        </svg>
      </button>
      <label class="toggle">
        <input id="full_screen_status" type="checkbox" onchange="GameShell.toggle_fullscreen_native()">
        <svg class="off" xmlns="http://www.w3.org/2000/svg" viewbox="40 40 176 176">
          <polyline points="160 48 208 48 208 96" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
          <line x1="152" y1="104" x2="208" y2="48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="96 208 48 208 48 160" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
          <line x1="104" y1="152" x2="48" y2="208" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="208 160 208 208 160 208" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
          <line x1="152" y1="152" x2="208" y2="208" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="48 96 48 48 96 48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
          <line x1="104" y1="104" x2="48" y2="48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
        </svg>
        <svg class="on" xmlns="http://www.w3.org/2000/svg" viewbox="40 40 176 176">
          <polyline points="192 104 152 104 152 64" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
          <line x1="208" y1="48" x2="152" y2="104" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="64 152 104 152 104 192" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
          <line x1="48" y1="208" x2="104" y2="152" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="152 192 152 152 192 152" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
          <line x1="208" y1="208" x2="152" y2="152" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="104 64 104 104 64 104" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
          <line x1="48" y1="48" x2="104" y2="104" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
        </svg>
      </label>
      <div class="sub-menu">
        <div class="sub-menu-inner">
          <button class="action disable_on_spin" onclick="GameShell.send_message_to_unity(&quot;settingsMenu&quot;)">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="16.02 24 223.95 208">
              <circle cx="128" cy="128" r="40" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></circle>
              <path d="M130.05,206.11c-1.34,0-2.69,0-4,0L94,224a104.61,104.61,0,0,1-34.11-19.2l-.12-36c-.71-1.12-1.38-2.25-2-3.41L25.9,147.24a99.15,99.15,0,0,1,0-38.46l31.84-18.1c.65-1.15,1.32-2.29,2-3.41l.16-36A104.58,104.58,0,0,1,94,32l32,17.89c1.34,0,2.69,0,4,0L162,32a104.61,104.61,0,0,1,34.11,19.2l.12,36c.71,1.12,1.38,2.25,2,3.41l31.85,18.14a99.15,99.15,0,0,1,0,38.46l-31.84,18.1c-.65,1.15-1.32,2.29-2,3.41l-.16,36A104.58,104.58,0,0,1,162,224Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
            </svg>
          </button>
          <label class="toggle">
            <input type="checkbox" name="toggle_sounds" checked="" onchange="GameShell.toggle_sounds()">
            <svg class="off" xmlns="http://www.w3.org/2000/svg" viewbox="24 24 230 208">
              <path d="M88,168H40a8,8,0,0,1-8-8V96a8,8,0,0,1,8-8H88l72-56V224Z" fill="rgba(33, 16, 11, 0.18)" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
              <line x1="248" y1="104" x2="200" y2="152" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"></line>
              <line x1="248" y1="152" x2="200" y2="104" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"></line>
            </svg>
            <svg class="symbol on" xmlns="http://www.w3.org/2000/svg" viewbox="24 24 216 208">
              <path d="M88,168H40a8,8,0,0,1-8-8V96a8,8,0,0,1,8-8H88l72-56V224Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
              <line x1="200" y1="104" x2="200" y2="152" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
              <line x1="232" y1="88" x2="232" y2="168" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
            </svg>
          </label>
          <button class="action disable_on_spin" onclick="GameShell.send_message_to_unity(&quot;history&quot;)">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="24 32 199.99 192">
              <polyline points="128 80 128 128 168 152" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
              <polyline points="72 104 32 104 32 64" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
              <path d="M67.6,192A88,88,0,1,0,65.77,65.77C54,77.69,44.28,88.93,32,104" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
            </svg>
          </button>
          <button class="action" onclick="GameShell.show_dialog_by_id(&quot;language_modal&quot;)"><img class="flag" src="https://ik.imagekit.io/bmp6bnlpn/flags/en.svg"></button>
          <button class="action disable_on_spin" onclick="GameShell.show_dialog_by_id(&quot;quit_modal&quot;)">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="40 32 192 192">
              <polyline points="112 40 48 40 48 216 112 216" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
              <line x1="112" y1="128" x2="224" y2="128" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
              <polyline points="184 88 224 128 184 168" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
            </svg>
          </button>
        </div>
      </div>
    </aside>
    <dialog class="uroc-modal" id="bet_levels_modal">
      <header>PLAY AMOUNT</header>
      <div class="content">
        <div class="grid"></div>
      </div>
      <footer>
        <button class="cta" onclick="GameShell.close_dialog_by_id(&quot;bet_levels_modal&quot;)">OK</button>
      </footer>
    </dialog>
    <dialog class="uroc-modal" id="game_rules">
      <header>GAME RULES</header>
      <div class="content">
        <div class="column">
          <section>
            <h2 class="color-secondary">About the Game</h2>
            <p>{{{ PRODUCT_NAME }}} is a game with 5x3 reels and 20 Winning Lines.</p>
            <p>RTP : <span class="bind rtp">XX.XX%</span></p>
            <p>Play Feature RTP : XX.XX%</p>
          </section><br>
          <section>
            <h2 class="color-secondary">Win Table</h2>
            <p>Win table amounts displayed are based on current amount selected.</p>
            <div class="grid paytable"></div>
            <div class="symbol-explainer">
              <div class="row">
                <div><img class="symbol" data-symbol="WC"></div>
                <div>Wild Symbol</div>
              </div>
              <div>
                <p>WILD appear on all reels<br>WILD substitutes for all symbols except COIN and GOLD COIN symbols</p>
              </div>
            </div>
            <div class="symbol-explainer">
              <div class="row">
                <div><img class="symbol" data-symbol="COIN"></div>
                <div>COIN SYMBOL</div>
              </div>
              <div>
                <p>COIN Symbol appear on all reels</p>
              </div>
            </div>
            <div class="symbol-explainer">
              <div class="row">
                <div><img class="symbol" data-symbol="GOLD_COIN"></div>
                <div>GOLD COIN SYMBOL</div>
              </div>
              <div>
                <p>GOLD COIN Symbol appear on all reels<br>GOLD COIN Symbols may land with a value between 5x and 9x of the total Play amount</p>
              </div>
            </div>
            <div class="symbol-explainer">
              <div class="row">
                <div><img class="symbol" data-symbol="MYSTERY"></div>
                <div>MYSTERY SYMBOL</div>
              </div>
              <div>
                <p>MYSTERY symbol appears only during the bonus and can land on any vacant position on any reel.<br>MYSTERY Symbol can result in either MULTIPLIER or JACKPOT or THE VORTEX Feature.</p>
              </div>
            </div>
          </section><br>
          <section>
            <h2 class="color-secondary">Bonus Game</h2>
            <p>Get 6 or more COIN symbols in the base game to trigger the Hold For Gold bonus.</p>
            <p>The coin symbols that trigger the bonus will carry over into the bonus game with their awarded values.</p>
            <p>The remaining positions will be vacant for other symbols to land during the bonus game.</p>
            <p>At the start of the bonus, the player is awarded 3 re-spins. During the re-spins, if any symbol lands on a vacant position, the re-spin count resets to 3.</p>
            <p>The bonus ends when all re-spins are used up or all vacant positions on the game board are filled.</p><br>
            <h3 class="color-secondary">MYSTERY BOX</h3><img class="symbol" data-symbol="MYSTERY">
            <p>MYSTERY BOX award random prizes like multipliers, Jackpots or The Vortex.</p><br>
            <h3 class="color-secondary">MULTIPLIER FEATURE</h3>
            <p>A Mystery Box can award a multiplier between 1x and 9x of the Play amount that triggered the Hold For Gold feature.</p><br>
            <h3 class="color-secondary">JACKPOT FEATURE</h3>
            <p>A Mystery Box can award the MINI, MINOR, or MAJOR Jackpot.</p>
            <p>Landing a Jackpot symbol can also trigger the MINI, MINOR, or MAJOR Jackpot.</p>
            <p>Once all vacant positions are filled with symbols during the Hold For Gold feature, the GRAND Jackpot is awarded.</p><br>
            <h3 class="color-secondary">VORTEX FEATURE</h3>
            <p>The Mystery Box may award the VORTEX feature, which collects and awards the total value of all coin symbols on the board.</p>
          </section><br>
          <section>
            <h2 class="color-secondary">Lines</h2>
            <p>All wins award left to right on adjacent reels. Winning combinations begin with the leftmost reel. Only highest win awarded per line.</p><img style="width: min(1024px, 100%)" src="https://ik.imagekit.io/bmp6bnlpn/games/miami_blaze/paylines.svg">
          </section><br>
          <section>
            <h2 class="color-secondary">PLAY FEATURE</h2>
            <p>Selecting 'Play Feature' opens a menu where you can choose Play amount settings to purchase the feature.</p>
            <p>After the 'Play Feature' is completed, the Play amount will remain the same as the one selected during the purchase.</p>
          </section><br>
          <section>
            <h2 class="color-secondary">TURBO SPIN MODE</h2>
            <p>Pressing Turbo button switches between NORMAL, FAST and ULTRA spin modes</p>
            <p>FAST and ULTRA spin modes shorten the spin duration.</p>
          </section><br>
          <section>
            <h2 class="color-secondary">AUTO PLAY</h2>
            <p>Press the Auto Play button, select the number of spins, then press START to begin.</p>
            <p>Auto Play is deactivated when a bonus or feature is triggered</p>
            <p>Press STOP to cancel Auto Play</p>
          </section><br>
          <section>
            <h2 class="color-secondary">TIME OUT</h2>
            <p>The player session will end if the game is inactive for more than 5 minutes.</p>
          </section><br>
          <section class="how-to-play">
            <h2 class="color-secondary">HOW TO PLAY</h2>
            <div class="row"><img class="symbol" src="https://ik.imagekit.io/bmp6bnlpn/games/miami_blaze/icon-bet.png">
              <p>Opens the Play amount menu. Select the amount you want to use in the game.</p>
            </div>
            <div class="row"><img class="symbol" src="https://ik.imagekit.io/bmp6bnlpn/games/miami_blaze/icon-autoplay.png">
              <p>Opens the auto play menu.</p>
            </div>
            <div class="row">
              <svg class="symbol" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="24 24 208 208">
                <circle cx="128" cy="128" r="96" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></circle>
                <path d="M120,120a8,8,0,0,1,8,8v40a8,8,0,0,0,8,8" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
                <circle cx="124" cy="84" r="12"></circle>
              </svg>
              <p>Opens the game rules page.</p>
            </div>
            <div class="row"><img class="symbol" src="https://ik.imagekit.io/bmp6bnlpn/games/miami_blaze/icon-spin.png">
              <p>Starts the game play.</p>
            </div>
            <div class="row"><img class="symbol" src="https://ik.imagekit.io/bmp6bnlpn/games/miami_blaze/icon-stop.png">
              <p>Slam stops the current spin.</p>
            </div>
            <div class="row">
              <svg class="symbol on" xmlns="http://www.w3.org/2000/svg" viewbox="24 24 216 208">
                <path d="M88,168H40a8,8,0,0,1-8-8V96a8,8,0,0,1,8-8H88l72-56V224Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
                <line x1="200" y1="104" x2="200" y2="152" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
                <line x1="232" y1="88" x2="232" y2="168" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
              </svg>
              <p>Toggle sound ON/OFF.</p>
            </div>
            <div class="row"><img class="symbol" src="https://ik.imagekit.io/bmp6bnlpn/games/miami_blaze/icon-turbo.png">
              <p>Select between Normal, Fast, and Ultra Spin modes.</p>
            </div>
            <div style="margin: 2.5em 0">
              <p>BALANCE and Play Amount labels show the current balance and total play amount.</p>
            </div>
          </section><br>
          <section>
            <h2 class="color-secondary">GENERIC RULES</h2>
            <p>To begin, select a play amount and then click the spin button. This will begin the play session.</p>
            <p>Pressing slam stop stops the reels.</p>
            <p>Awards are made according to the Win Table.</p>
            <p>The bottom won field always displays winnings in Coins.</p>
            <p>This game doesn't support multiple windows open at once.</p>
            <p>On Desktop,Space Bar can be used to spin.</p>
            <p>For the best game play experience in the mobile devices, play in landscape mode.</p>
          </section><br>
          <section>
            <h2 class="color-secondary">DISCLAIMER</h2>
            <p>Malfunction voids all wins and plays.</p>
            <p>Play responsibly and be aware of responsible gambling practices.</p>
          </section><br>
        </div>
      </div>
      <footer>
        <button class="cta" onclick="GameShell.close_dialog_by_id(&quot;game_rules&quot;)">CLOSE</button>
      </footer>
    </dialog>
    <dialog class="uroc-modal" id="language_modal">
      <header>CHOOSE YOUR LANGUAGE</header>
      <div class="content">
        <div class="column center-center">
          <button class="nav-previous" onclick="GameShell.previous_language()">❮</button><img class="flag" src="https://ik.imagekit.io/bmp6bnlpn/flags/en.svg">
          <button class="nav-next" onclick="GameShell.next_language()">❯</button>
        </div>
      </div>
      <label>ENGLISH</label>
      <footer>
        <button class="cta" onclick="GameShell.close_language_modal(true)">CANCEL</button>
        <button class="cta success" onclick="GameShell.update_language()">OK</button>
      </footer>
    </dialog>
    <dialog class="uroc-modal" id="error_modal" onclick="GameShell.reload()">
      <header>
        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 256 256" height="50">
          <rect width="256" height="256" fill="none"></rect>
          <path d="M142.41,40.22l87.46,151.87C236,202.79,228.08,216,215.46,216H40.54C27.92,216,20,202.79,26.13,192.09L113.59,40.22C119.89,29.26,136.11,29.26,142.41,40.22Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
          <line x1="128" y1="144" x2="128" y2="104" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
          <circle cx="128" cy="180" r="12" fill="currentColor"></circle>
        </svg>
      </header>
      <div class="content">
        <div class="column center-center">
          <p style="text-align: left">AN UNEXPECTED ERROR HAS OCCURRED</p>
        </div>
      </div>
      <footer>
        <button class="cta error" onclick="GameShell.reload()">RELOAD GAME</button>
      </footer>
    </dialog>
    <dialog class="uroc-modal" id="quit_modal">
      <header>QUIT</header>
      <div class="content">
        <div class="column">
          <p>Do you really want to exit this game?</p>
          <p>Clock OK to exit or CANCEL to stay in this game.</p>
        </div>
      </div>
      <footer>
        <button class="cta" onclick="GameShell.quit_confirm()">OK</button>
        <button class="cta success" onclick="GameShell.close_dialog_by_id(&quot;quit_modal&quot;)">CANCEL</button>
      </footer>
    </dialog>
    <div id="rotate-to-landscape">
      <div class="phone"></div>
      <p>Please rotate your device</p>
    </div>
    <label class="unity-product-version" style="position: fixed;bottom: 0;left: 0;pointer-events: none;color: gray;font-size: 14px;padding:10px;z-index:-1">{{{ PRODUCT_VERSION }}}</label>
    <script>
      var canvas = document.querySelector('#unity-canvas');
      function unityShowBanner(msg, type) {
          if(type === 'warning'){
              console.warn(msg);
              return;
          }
          GameShell.show_error_popup(msg);
      }
      var buildUrl = 'Build';
      var loaderUrl = buildUrl + '/{{{ LOADER_FILENAME }}}';
      var config = {
          arguments: [],
          dataUrl: buildUrl + '/{{{ DATA_FILENAME }}}',
          frameworkUrl: buildUrl + '/{{{ FRAMEWORK_FILENAME }}}',
      #if USE_THREADS
          workerUrl: buildUrl + '/{{{ WORKER_FILENAME }}}',
      #endif
      #if USE_WASM
          codeUrl: buildUrl + '/{{{ CODE_FILENAME }}}',
      #endif
      #if SYMBOLS_FILENAME
          symbolsUrl: buildUrl + '/{{{ SYMBOLS_FILENAME }}}',
      #endif
          streamingAssetsUrl: 'StreamingAssets',
          companyName: {{{ JSON.stringify(COMPANY_NAME) }}},
          productName: {{{ JSON.stringify(PRODUCT_NAME) }}},
          productVersion: {{{ JSON.stringify(PRODUCT_VERSION) }}},
          showBanner: unityShowBanner,
          matchWebGLToCanvasSize: true
      };
      if (/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)) {
          document.querySelector('#unity-container').className = 'unity-mobile';
          canvas.className = 'unity-mobile';
      #if SHOW_DIAGNOSTICS
              // position the diagnostics icon in the corner on the canvas
          let diagnostics_icon = document.getElementById('diagnostics-icon');
          diagnostics_icon.style.position = 'fixed';
          diagnostics_icon.style.bottom = '10px';
          diagnostics_icon.style.right = '0px';
          canvas.after(diagnostics_icon);
      #endif
      }
      #if BACKGROUND_FILENAME
          canvas.style.background = "url('" + buildUrl + "/{{{ BACKGROUND_FILENAME.replace(/'/g, '%27') }}}') center / cover";
      #endif
      document.querySelector('#splash').style.display = 'block';
      var script = document.createElement('script');
      script.src = loaderUrl;
      script.onload = () => {
          createUnityInstance(canvas, config, (progress)=>{
              if(!GameShell){
                  return;
              }
              GameShell.unity_progress = progress;
              GameShell.update_progress_loader();
          })
          .then(GameShell.init)
          .catch((message) => {
              alert(message);
          });
      };
      document.body.appendChild(script);
    </script>
  </body>
</html>